# Sequencer API URL
SEQUENCER_API_URL=http://localhost:9090

# Block Explorer URLs prefixed by chainID (comma-separated, format: chainID:url)
BLOCK_EXPLORER_URL=11155111:https://sepolia.etherscan.io/address
