name: Build and Test

on:
  push:
    branches:
      - dev
      - stage
      - main
      - release**
      - ci/go-test-race
  pull_request:
      types: [opened, synchronize, reopened, ready_for_review]
  schedule:
    - cron: "0 1 * * *" # 02:00 UTC+1

permissions:
  contents: read

concurrency:
  group: ${{ github.event_name == 'pull_request' && format('{0}-pr-{1}', github.workflow, github.event.pull_request.number) || format('{0}-push-{1}-{2}', github.workflow, github.ref, github.run_id) }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  job_go_checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    defaults:
      run:
        shell: bash
    steps:
      - name: Debug github context
        run: |
          echo github.event_name: ${{ github.event_name }}
          echo github.ref: ${{ github.ref }}
          echo github.ref_name: ${{ github.ref_name }}
          echo github.head_ref: ${{ github.head_ref }}
          echo github.base_ref: ${{ github.base_ref }}

      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run go mod tidy
        run: |
          go mod tidy
          if [[ $(git status --porcelain) ]]; then
            git diff
            echo
            echo "go mod tidy made these changes, please run 'go mod tidy' and include those changes in a commit"
            exit 1
          fi

      - name: Run go vet
        run: go vet ./...

      - name: Run go generate
        run: |
          go generate ./...
          if [[ $(git status --porcelain) ]]; then
            git diff
            echo
            echo "go generate made these changes, please run 'go generate ./...' and include those changes in a commit"
            exit 1
          fi

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5

      - name: Run deadcode
        run: go run golang.org/x/tools/cmd/deadcode@v0.41.0 -test ./... | tee deadcode.out

      - name: Delete outdated PR review
        uses: aki77/delete-pr-comments-action@v3
        if: github.event_name == 'pull_request'
        with:
          bodyContains: |-
            [reviewdog]
            [deadcode]
          noReply: "true"
      - uses: reviewdog/action-setup@v1
        if: github.event_name == 'pull_request'
      - name: Submit fresh PR review
        if: github.event_name == 'pull_request'
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cat deadcode.out | reviewdog -f=golint -name=deadcode -reporter=github-pr-review -filter-mode=diff_context

  job_go_test:
    runs-on: [self-hosted]
    env:
      LOG_PANIC_ON_INVALIDCHARS: true
      LOG_LEVEL: debug

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - run: mkdir -p "$PWD/gocoverage-unit/"

      - name: Run Go test -race
        # disabled, it makes the crypto too slow to pass any test.
        id: go-test-race
        if: github.event_name == 'push' && github.ref_name == 'ci/go-test-race'
        env:
          GORACE: atexit_sleep_ms=10
          RUN_CIRCUIT_TESTS: false
        run: |
          go test ./... \
            -race \
            -timeout=1h \
            -vet=off \
            -cover \
            -coverpkg=./... \
            -covermode=atomic \
            -args -test.gocoverdir="$PWD/gocoverage-unit/"

      - name: Run unit tests
        if: steps.go-test-race.outcome == 'skipped'
        env:
          RUN_CIRCUIT_TESTS: false
          RUN_INTEGRATION_TESTS: false
        run: go test -v ./... -timeout=1h -vet=off -failfast

      - name: Rebuild node circuit artifacts
        if: github.event.pull_request.draft != true
        shell: bash
        run: |
          set -euo pipefail
          mkdir -p "~/.davinci/artifacts/"
          go run ./cmd/circuit-compile \
            --destination "~/.davinci/artifacts/" \
            --update-config

      - name: Run integration tests
        if: github.event.pull_request.draft != true
        env:
          RUN_INTEGRATION_TESTS: true
        run: go test -v ./tests/ -timeout=1h -vet=off -failfast

  call-docker-release:
    name: Docker
    needs: [job_go_checks, job_go_test]
    permissions:
      contents: read
      packages: write
    # docker releases are triggered only on push to the selected branches at the beginning of this file
    if: github.event_name == 'push'
    uses: vocdoni/davinci-node/.github/workflows/docker-release.yml@main
    secrets: inherit
    with:
      image-tag: ${{ github.ref_name }}
